@import "tailwindcss";

:root {
    --color-primary: #fff;
    --color-secondary: #f5f5f5;
    --color-selected: #1e1e1e;

    --color-border: #d6d6d6;

    --color-input: #f0f4f8;
    --color-placeholder: #7a8fa3;
}
