@import "tailwindcss";

@theme {
    --color-primary: #fff;
    --color-secondary: #f5f5f5;
    --color-selected: #1e1e1e;

    --color-border: #d6d6d6;

    --color-label: #666;
    --color-input: #808080;
    --color-accent: #f0f4f8;
    --color-placeholder: #7a8fa3;

    --animate-spin-once: spin-once 0.5s ease-in-out forwards;
}

@keyframes spin-once {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
